$white-color: #fff;
$primary-color: rgb(28, 42, 95);
$secondary-color: #fbc882;
$txt-color: #9a9a9a;
$heading-color: #555;
$shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);

$font-family: "Poppins", sans-serif;

$tablet-width: 46.25em; //740px
$pc-low-relosution-width: 63.9375em; // 1023px
$pc-width: 70.625em; // 1130 px
$pc-higher-low-relosution-width: 64em; // 1024px
$pc-medium-width: 77.4375em; // 1239px

$header-height: 104px;
