@use "../abstracts/" as *;

.search {
  height: 875px;
  margin-bottom: 60px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("../../../assets/img/parallax-2.jpg");
  background-position: bottom center;
  background-size: 136%;
  background-repeat: no-repeat;
  &__inner {
    @include flex(center, center);
    flex-direction: column;
    padding: 270px 75px 200px 75px;
  }
  &__heading {
    color: $white-color;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 16px;
    z-index: 1;
    span {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: 16px;
        left: 0;
        right: 0;
        border-top: 5px solid #ba71da;
        z-index: -1;
      }
    }
  }
  &__sub-heading {
    color: $white-color;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 65px;
  }
  .typologies {
    margin-top: 70px;
    @include flex(center, center);
    a {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__card {
      @include flex(center, center);
      flex-direction: column-reverse;
      padding: 20px;
      width: 110px;
      height: 100px;
      background-color: rgba(0, 0, 0, 0.3);
      img {
        width: 40px;
        margin-bottom: 8px;
      }
    }
    &__card-heading {
      letter-spacing: 2px;
      color: $white-color;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }
}
